.register-main-body {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  background: url("/public/login.jpg");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-sub-body {
  height: 450px;
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.468);
  border-radius: 30px;
  gap: 10px;
}
.register-form {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* background-color: antiquewhite; */
}
.register-form-title {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;

  font-family: system-ui;
  /* background-color: rgb(255, 242, 0); */
}
.register-form-file-upload {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.register-form-input {
  height: 45px;
  width: 230px;
  padding: 0 20px;
  border: 1px solid rgb(0, 185, 0);
  font-size: 1.1rem;
  border-radius: 50px;
}
.register-form-input::placeholder {
  font-size: 1rem;
}
.register-form-input:focus {
  outline: none;
}
.register-form-btn {
  height: 45px;
  width: 270px;
  background-color: rgb(49, 123, 0);
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
}
.register-register-link {
  height: 30px;
  width: 100%;
  color: rgb(11, 50, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 5px;
}
