.main-body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddbd1;
}
.left-body {
  height: 100vh;
  width: 500px;
  /* width: 30%; */
  background-color: rgb(255, 255, 255);
  border-right: 0.1px solid rgb(192, 192, 192);
}
.left-navbar-sec {
  height: 10vh;
  width: 100%;
  /* background-color: rgb(255, 143, 246); */
  background-color: rgb(235, 235, 235);

  display: flex;
  justify-content: center;
  align-items: center;
}
.left-navbar-profile {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  /* background-color: cyan; */
}
.left-navbar-menu-sec {
  height: 40px;
  width: 80%;
  /* background-color: rgb(111, 255, 0); */
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
}
.left-navbar-icon {
  height: 27px;
  width: auto;
  cursor: pointer;
  filter: contrast(0);
}
.left-chat-body {
  height: 75px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgb(213, 213, 213);
}
.left-chat-body:hover {
  background-color: rgb(245, 245, 245);
}
.left-chat-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(255, 179, 179);
}
.left-chat-name-sec {
  height: 80px;
  width: 60%;
  /* background-color: rgb(255, 238, 0); */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-family: system-ui;
  font-weight: 600;
}
.left-chat-name {
  height: 30px;
  width: 100%;
  /* background-color: rgb(0, 255, 34); */
  display: flex;
  justify-content: start;
  align-items: end;
}
.left-chat-msg-tick {
  height: 30px;
  width: 100%;
  /* background-color: rgb(255, 196, 0); */
  font-size: 0.8rem;
  color: rgb(66, 66, 66);
  gap: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.left-chat-msg-count-sec {
  height: 60px;
  width: 50px;
  /* background-color: rgb(255, 196, 0); */
  font-size: 0.8rem;
  color: rgb(121, 121, 121);
  gap: 10px;
  font-family: system-ui;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.left-chat-count {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: rgb(60, 255, 0);
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

/* //////////////////////////// */
.right-body {
  height: 100vh;
  /* width: 500px; */
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.right-navbar-sec {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(235, 235, 235);
}
.right-navbar-profile-sec {
  height: 50px;
  width: 85%;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: system-ui;
  /* background-color: rgb(145, 2, 2); */
}
.right-navbar-profile {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: cyan;
}
.right-navbar-search-sec {
  height: 50px;
  width: 10%;
  /* background-color: rgb(255, 240, 240); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.right-navbar-icon {
  height: 25px;
  width: auto;
}

.right-message-body {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  scrollbar-width: none;
  background: url("./background1.png");
}

.right-message-encrypt {
  min-height: 30px;
  position: absolute;
  width: 85%;
  font-family: sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(88, 88, 88);
  background-color: #fdf4c5;
  display: flex;
  letter-spacing: 0.05px;
  gap: 10px;
  justify-content: center;
  top: 20px;
  align-items: center;
}
.right-message-encrypt-icon {
  height: 10px;
  width: auto;
}
.right-message-today {
  height: 30px;
  /* position: absolute; */
  width: 65px;
  font-family: system-ui;
  font-weight: 700;
  font-size: 0.85rem;
  color: rgb(116, 116, 116);
  margin-top: 80px;
  background-color: #e1f2fa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

/* ///////////////////////// */

.right-text-body-sec {
  height: 10vh;
  width: 100%;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.right-text-body-pin {
  height: 27px;
  width: auto;
  filter: contrast(0.02);
  cursor: pointer;
}
.right-message-input {
  height: 43px;
  width: 85%;
  border: 0;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1.2rem;
  font-family: system-ui;
}
.right-message-input::placeholder {
  font-size: 1.1rem;
  color: rgb(134, 134, 134);
}
.right-message-input:focus {
  outline: none;
}
.right-text-body-send {
  height: 35px;
  width: auto;
  filter: contrast(0.02);
  cursor: pointer;
}
